### Java ###
*.class

### IntelliJ ###
.idea/
*.iml
out/

### Eclipse ###
.metadata/
.settings/
.project
.classpath
bin/

### Custom Scripts ###
FileOrganizer.java
FileOrganizer.class

### OS ###
.DS_Store
Thumbs.db